<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Registro de fichaje
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro de fichaje</ion-title>
    </ion-toolbar>
  </ion-header>

  @if ( working ) {
    <app-terminar-trabajo [fichaje]="lastFichaje"></app-terminar-trabajo>
  } @else {
    <app-empezar-trabajo></app-empezar-trabajo>
  }
  
</ion-content>
