<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Registro de fichaje
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro de fichaje</ion-title>
    </ion-toolbar>
  </ion-header>
  
  @if ( !userID ) {
    <ion-card>
      <ion-card-title>
        Selección de usuario
      </ion-card-title>
      <ion-card-content>
        <ion-select (ionChange)="userID = $event.target.value; publishUser(); empezarTrabajo()" label="Selecciona el usuario">
          @for (user of users; track $index) {
            <ion-select-option value="{{user.IdUsuario}}"> {{user.Nombre}} </ion-select-option>
          }
        </ion-select>
      </ion-card-content>
    </ion-card>
  } @else {

    @if ( working ) {
      <app-terminar-trabajo [fichaje]="lastFichaje" (outputEmitter)="working = false" ></app-terminar-trabajo>
    } @else {
      <app-empezar-trabajo [selectedUser]="userID" (outputEmitter)="empezarTrabajo()" ></app-empezar-trabajo>
    }
    
  }

</ion-content>
