ion-card {
    width: fit-content;
    min-width: 300px;
    padding: 15px 0;
    margin: 20px auto;

    ion-card-title, ion-card-subtitle {
        text-align: center;
    }

    ion-card-content {
        ion-select {
            margin-bottom: 15px;
        }
        ion-button {
            margin: auto;
            display: block;
            width: fit-content;
        }
    }
}