<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Consulta de fichajes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Consulta de fichajes</ion-title>
    </ion-toolbar>
  </ion-header>

  @if ( userID != null ) {

    @if ( fichajes.length > 0 ) {

      <ion-grid>
        <ion-row class="header-row">
          <ion-col>
            <section>Trabajo asignado</section>
          </ion-col>
          <ion-col>
            <section>Ubicación</section>
          </ion-col>
          <ion-col>
            <section>Hora de entrada</section>
          </ion-col>
          <ion-col>
            <section>Hora de salida</section>
          </ion-col>
        </ion-row>

          @for (fichaje of fichajes; track $index) {
            <app-registro-component [fichaje]="fichaje"> </app-registro-component>
          }

        </ion-grid>

    } @else {

      <p>Sin fichajes</p>

    }

  } @else {

    <p>Seleccione un usuario</p>

  }

</ion-content>
