ion-col {
    justify-content: center;
    display: flex;
    flex-flow: row;
    gap: 15px;
    section {
        width: fit-content;
        display: inline;
    }
}

section {
    text-align: center;
}

p {
    text-align: center; 
}

#reloadButton {
    margin: 15px auto;
    display: block;
    width: fit-content;
}