<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="usuarios" href="/usuarios">
      <ion-icon name="people"></ion-icon>
      <ion-label>Usuarios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="trabajos" href="/trabajos">
      <ion-icon name="briefcase"></ion-icon>
      <ion-label>Trabajos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="fichajes" href="/fichajes">
      <ion-icon name="newspaper"></ion-icon>
      <ion-label>Fichajes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
